In [1]:
a = "23"
type(a)

str

In [2]:
b = int(a)
type(b)

int

In [3]:
int("abc")

ValueError: invalid literal for int() with base 10: 'abc'

In [4]:
float("12.5")

12.5

In [6]:
float("12.a")
print("hello world!")

ValueError: could not convert string to float: '12.a'

#### Create a division function without exception handling.

In [7]:
def division():
    num = float(input("Please enter a numerator :"))
    den = float(input("Please a denominator :"))
    return num/den

In [8]:
division()

0.75

In [9]:
division()

ZeroDivisionError: float division by zero

In [10]:
division()

ValueError: could not convert string to float: ''

#### Method 1 - Generic method to handle exception.

In [11]:
def division2():
    try:
        num = float(input("Please enter a numerator :"))
        den = float(input("Please enter denominator :"))
        return num/den
    except Exception as e:
        print(f"Exception occured : {e}")

In [13]:
division2()

0.5

In [14]:
division2()
print("Done!")

Done!

In [15]:
division2()
print(4/3)

1.3333333333333333

In [16]:
division2()
print("Example")

Exception occured : could not convert string to float: 'blank'
Example

#### Method 2 - Custom handling for each error.

In [21]:
def division3():
    try:
        num = float(input("Please enter numerator :"))
        den = float(input("Please enter denominator :"))
        return num/den
    except ZeroDivisionError:
        print("Denominator of division cannot be zero")
    except ValueError:
        print("Alphabets and blank values are invalid input")

In [18]:
division3()

3.2857142857142856

In [19]:
division3()

Denominator of division cannot be zero

In [22]:
division3()

Alphabets and blank values are invalid input

In [23]:
division3()

Alphabets and blank values are invalid input

#### Types of blocks in exception handling.

1. Try: The code which you are trying to execute.
2. except : if any exception occurs then this block will execute.
3. else: if try block is successfully executed then else block will get executed next.
4. finally: the code from finally block will always be executed.

In [24]:
from math import sqrt

In [25]:
sqrt(16)

4.0

In [26]:
sqrt(36)

6.0

In [27]:
sqrt(-3)

ValueError: math domain error

In [28]:
def square_root(n: int | float) -> float:
    try:
        s = sqrt(n)
    except Exception as e:
        print(f"Exception Occured : {e}")
    else:
        print(f"Square root of given number {n} is {s:.4f}")
        return s
    finally:
        print("Finally block will always get executed")

In [29]:
s1 = square_root(49)

Square root of given number 49 is 7.0000
Finally block will always get executed

In [30]:
s1

7.0

In [31]:
s2 = square_root('abc')

Exception Occured : must be real number, not str
Finally block will always get executed

In [32]:
print(s2)

None

In [34]:
s3 = square_root(-23)

Exception Occured : math domain error
Finally block will always get executed

In [36]:
print(s3)

None

#### Raise the custom errors.

In [37]:
def age_validator() -> int:
    try:
        age = int(input("Please enter age : "))
        if age <= 0 or age >= 120:
            raise ValueError("Age cannot be negative or Greater than 120")
        else:
            print(f"Valid age : {age} entered")
            return age
    except Exception as e:
        print(f"Exception occured : {e}")

In [38]:
a1 = age_validator()

Valid age : 28 entered

In [39]:
a1

28

In [40]:
a2 = age_validator()

Exception occured : invalid literal for int() with base 10: 'abc'

In [41]:
a2 = age_validator()

Exception occured : Age cannot be negative or Greater than 120

In [42]:
print(a2)

None

#### File handling in python.

1. r - read mode - To read file in python.
2. w - write mode - To create a new file with given content.
3. a - append mode - To add content end of the file.

In [43]:
# Creating a new file with write mode
with open("example.txt", "w") as f1:
    f1.write("My name is Prathamesh\n")
    f1.write("I am training  as a data scientist\n")

In [44]:
# Read the file in python
with open("example.txt", "r") as f2:
    content = f2.read()
    print(content)

My name is Prathamesh
I am training  as a data scientist

In [45]:
# Adding content in file append mode
with open("example.txt", "a") as f3:
    f3.write("My age is 23 years\n")
    f3.write("I am learning  at ETLHive\n")

In [46]:

# Reading all the content from file
with open("example.txt", "r") as f:
    content = f.readlines()
    print(content)

['My name is Prathamesh\n', 'I am training  as a data scientist\n', 'My age is 23 years\n', 'I am learning  at ETLHive\n']

In [47]:
content

['My name is Prathamesh\n',
 'I am training  as a data scientist\n',
 'My age is 23 years\n',
 'I am learning  at ETLHive\n']

In [48]:
type(content)

list