In [1]:
class Person:

    def __init__(self,name: str,age:int):
       self.name = name 
       self.age = age

    def introduce(self):
           print(f"My name is {self.name}")
           print(f"I am {self.age} years old")

In [2]:
class Employee(Person):

    def __init__(self, name:str, age: int,company:str):
        super().__init__(name, age)
        self.company = company
    
    def work(self):
        print(f"I work for {self.company}")

In [3]:
p1 = Person(name="Prathamesh",age = 23)
type(p1)

__main__.Person

In [4]:
p1.name

'Prathamesh'

In [5]:
p1.age

23

In [6]:
p1.introduce()

My name is Prathamesh
I am 23 years old

In [7]:
e1 = Employee(name= "Praxxyy",age=24,company="TCS")
type(e1)

__main__.Employee

In [8]:
e1.name

'Praxxyy'

In [9]:
e1.age

24

In [10]:
e1.company

'TCS'

In [11]:
e1.work()

I work for TCS

In [12]:
e1.introduce()

My name is Praxxyy
I am 24 years old

In [13]:
e1.introduce()
e1.work()

My name is Praxxyy
I am 24 years old
I work for TCS

In [14]:
%pip install pydantic email-validator

Collecting pydantic
  Downloading pydantic-2.10.5-py3-none-any.whl.metadata (30 kB)
Collecting email-validator
  Downloading email_validator-2.2.0-py3-none-any.whl.metadata (25 kB)
Collecting annotated-types>=0.6.0 (from pydantic)
  Downloading annotated_types-0.7.0-py3-none-any.whl.metadata (15 kB)
Collecting pydantic-core==2.27.2 (from pydantic)
  Downloading pydantic_core-2.27.2-cp313-cp313-win_amd64.whl.metadata (6.7 kB)
Collecting typing-extensions>=4.12.2 (from pydantic)
  Downloading typing_extensions-4.12.2-py3-none-any.whl.metadata (3.0 kB)
Collecting dnspython>=2.0.0 (from email-validator)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: idna>=2.0.0 in c:\advance python\repository\venv\lib\site-packages (from email-validator) (3.10)
Downloading pydantic-2.10.5-py3-none-any.whl (431 kB)
Downloading pydantic_core-2.27.2-cp313-cp313-win_amd64.whl (2.0 MB)
   ---------------------------------------- 0.0/2.0 MB ? eta -:--:--
   --------------------- ------------------ 1.0/2.0 MB 5.9 MB/s eta 0:00:01
   ------------------------------- -------- 1.6/2.0 MB 4.7 MB/s eta 0:00:01
   ---------------------------------------- 2.0/2.0 MB 3.2 MB/s eta 0:00:00
Downloading email_validator-2.2.0-py3-none-any.whl (33 kB)
Downloading annotated_types-0.7.0-py3-none-any.whl (13 kB)
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
Downloading typing_extensions-4.12.2-py3-none-any.whl (37 kB)
Installing collected packages: typing-extensions, dnspython, annotated-types, pydantic-core, email-validator, pydantic
Successfully installed annotated-types-0.7.0 dnspython-2.7.0 email-validator-2.2.0 pydantic-2.10.5 pydantic-core-2.27.2 typing-extensions-4.12.2
Note: you may need to restart the kernel to use updated packages.

In [18]:
from pydantic import BaseModel , Field , EmailStr
from typing import Literal

In [19]:

class Student(BaseModel):
    roll_no: int = Field(description="Student Roll Number", gt=0)
    name: str = Field(description="Student name", min_length=1, max_length=50)
    marks: float = Field(description="Marks in percentage", gt=0, le=100)
    gender: Literal["male", "female"] = Field(description="Gender of student")
    email: EmailStr = Field(description= "Email of student")
    hobbies: list[str] = Field(description="Hobbies of student", default_factory=list)

    def get_student_details(self):
        print(f"Roll No : {self.roll_no}")
        print(f"Name : {self.name}")
        print(f"Marks : {self.marks}")
        print(f"Gender : {self.gender}")
        print(f"Email : {self.email}")
        print(f"Hobbies : {self.hobbies}")

In [20]:

s1 = Student(
    roll_no= 101,
    name = "Prathamesh",
    marks = 78.3,
    gender= "male",
    email= "prathamesh@test.com",
    hobbies= ["Cricket", "Singing"]
)

In [21]:
s1

Student(roll_no=101, name='Prathamesh', marks=78.3, gender='male', email='prathamesh@test.com', hobbies=['Cricket', 'Singing'])

In [22]:
type(s1)

__main__.Student

In [23]:
s1.roll_no

101

In [24]:
s1.name

'Prathamesh'

In [25]:
s1.email

'prathamesh@test.com'

In [26]:
s1.gender

'male'

In [27]:
s1.hobbies

['Cricket', 'Singing']

In [29]:
s1.get_student_details()

Roll No : 101
Name : Prathamesh
Marks : 78.3
Gender : male
Email : prathamesh@test.com
Hobbies : ['Cricket', 'Singing']

#### Multiple Inheritance.

1. Child class inheriting from multiple parent class.

In [31]:
class BaseSalary:

    def __init__(self, base_salary: float):
        self.base_salary = base_salary

    def get_base_salary(self):
        return self.base_salary

In [32]:
class Bonus:

    def __init__(self, bonus_percentage: float):
        self.bonus_percentage = bonus_percentage

    def calculate_bonus(self, salary):
        return (self.bonus_percentage/100) * salary

In [33]:
class TotalSalary(BaseSalary, Bonus):

    def __init__(self, name: str, base_salary: float, bonus_percentage: float):
        BaseSalary.__init__(self, base_salary)
        Bonus.__init__(self, bonus_percentage)
        self.name = name

    def get_total_salary(self):
        bonus = self.calculate_bonus(self.base_salary)
        return self.base_salary + bonus

In [34]:
t1 = TotalSalary(name="Prathamesh", base_salary=5_00_000.0, bonus_percentage=13)

In [35]:
t1.name

'Prathamesh'

In [36]:
t1.base_salary

500000.0

In [37]:
t1.bonus_percentage

13

In [39]:
t1.get_base_salary()

500000.0

In [41]:
t1.calculate_bonus(t1.base_salary)

65000.0

In [43]:
t1.get_total_salary()

565000.0

#### Multilevel Inheritance.

In [44]:

class Employee2:

    def __init__(self, emp_id, name):
        self.emp_id = emp_id
        self.name = name

    def get_employee_info(self):
        print(f"Employee Id : {self.emp_id}, Name : {self.name}")

In [45]:
class Manager(Employee2):

    def __init__(self, emp_id, name, dept):
        super().__init__(emp_id, name)
        self.dept = dept

    def get_department(self):
        print(f"Department : {self.dept}")

In [46]:
class ProjectManager(Manager):

    def __init__(self, emp_id, name, dept, project):
        super().__init__(emp_id, name, dept)
        self.project = project

    def get_project(self):
        print(f"Project Name : {self.project}")

In [47]:
e1 = Employee2(emp_id=106, name="Praxxyy")
type(e1)

__main__.Employee2

In [49]:
e1.emp_id

106

In [50]:
e1.name

'Praxxyy'

In [51]:
e1.get_employee_info()

Employee Id : 106, Name : Praxxyy

In [52]:

m1 = Manager(emp_id= 103, name="Aditi", dept="Engg.")
type(m1)

__main__.Manager

In [53]:
m1.emp_id

103

In [54]:
m1.name

'Aditi'

In [55]:
m1.dept

'Engg.'

In [57]:
m1.get_department()

Department : Engg.

In [58]:
m1.get_employee_info()

Employee Id : 103, Name : Aditi

In [59]:
pm1 = ProjectManager(emp_id= 102, name="Prato", dept="Data Science", project="Delloite Finance")

In [60]:
type(pm1)

__main__.ProjectManager

In [61]:
pm1.emp_id

102

In [62]:
pm1.name

'Prato'

In [63]:
pm1.dept

'Data Science'

In [64]:
pm1.project

'Delloite Finance'

In [66]:
pm1.get_project()

Project Name : Delloite Finance

In [67]:
pm1.get_employee_info()

Employee Id : 102, Name : Prato

In [68]:
pm1.get_employee_info()
pm1.get_department()
pm1.get_project()

Employee Id : 102, Name : Prato
Department : Data Science
Project Name : Delloite Finance

#### Hierarchical Inheritance.

In [69]:
class User:

    def __init__(self, username, email):
        self.username = username
        self.email = email

    def get_user_details(self):
        print(f"Username : {self.username}, Email : {self.email}")

In [70]:
class AdminUser():


    def __init__(self, username, email, access):
        super().__init__(username, email)
        self.access = access

    def get_access_info(self):
        print(f"Access Level : {self.access}")

In [71]:
class RegularUser(User):

    def __init__(self, username, email, subscription):
        super().__init__(username, email)
        self.subscription =subscription

    def get_sub_details(self):
        print(f"Subscription interval : {self.subscription}")

In [72]:

u1 = User(username= "Prathamesh", email="Prathamesh@test.com")
type(u1)

__main__.User

In [73]:
u1.username

'Prathamesh'

In [74]:
u1.email

'Prathamesh@test.com'

In [75]:
u1.get_user_details()

Username : Prathamesh, Email : Prathamesh@test.com

In [1]:

a1 = AdminUser(username="admin001", email="admin@test.com", access="partial")
type(a1)

NameError: name 'AdminUser' is not defined

In [79]:
a1.username

NameError: name 'a1' is not defined

In [81]:
 a1.email

NameError: name 'a1' is not defined

In [82]:
a1.access

NameError: name 'a1' is not defined

In [83]:
a1.get_access_info()

NameError: name 'a1' is not defined

In [84]:
a1.get_user_details()

NameError: name 'a1' is not defined